/*---------cart items ----------*/
.all{
    display: flex;
    grid-template-columns: 100% 30%;
    
}

.cart-page {
    margin: 80px auto;
    flex: 1;
    
}

.cart-page table {
    margin-left: 10%;
    width: 90%;
    border-collapse: collapse;
}

.cart-page table th {
    text-align: left;
    padding: 9px;
    color: #fdfbfb;
    background: #1161ad;
    
}

.cart-page table td {
    padding: 10px 5px;
}

.cart-page table td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    border: 10px;
    line-height: 10px;
    font-size: 10px;
    text-align: center;
    background: rgba(11, 33, 230, 0.6);
    color: #fff;
    outline: 0;
    font-size: medium;
    font-weight: 700;

}

.cart-page table td span button{
    transition: all .2s ease;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: #0052cc;
    border: none;
    background: transparent;
}

.cart-page table td a {
    color: #ff523b;
    font-size: 12px;
}

.cart-page table td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart-page table td .cart-info {
    display: flex;
    flex-wrap: wrap;
}


.cart-page table td .counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: center;
}


.cart-page table td:last-child {
    text-align: right;
}

.cart-page table th:last-child {
    text-align: right;
}



.cart-page .total-price {
    /* display: flex; */
    flex: 3;
    margin-left: 53%;
    margin-top: 3%;
    
}

.cart-page .total-price table {
    border-top: 3px solid #bf0594;
    width: 90%;
    max-width: 400px;
}
.cart-page .cart-info .remove{
    cursor: pointer;
    color: red;
    font-weight: 600;

}

.customer-info {
    margin: 6%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10%;
    width: 30%;
    background-color: rgba(199, 187, 147, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.customer-info h2 {
    font-size: 2rem;
    text-align: center;
    color: #1161ad;
}

.customer-info form {
    display: flex;
    flex-direction: column;
}

.customer-info label {
    font-size: 1.5rem;
    margin-top: 10px;
}

.customer-info input[type="text"],
.customer-info input[type="email"],
.customer-info textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.customer-info button {
    background-color: #6f81d1;
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin-top: 15px;
    cursor: pointer;
}
